.table {
  width: 100%;
}

.header {
  width: 100%;
  background: #ffffff;
  color: #95989a;
}

.headerCell {
  padding: 0 0 18px 10px;
}

@media only screen and (max-width: 650px) {
  .header {
    display: none;
  }
}