.root {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #73d2f0;
  overflow: hidden;
  border-radius: 60px 60px 0 0;
}

.filter {
  width: 50%;
  padding: 20px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.filter:first-child {
  padding-right: 100px;
  text-align: right;
}

.filter:nth-child(2) {
  padding-left: 100px;
}

.active {
  background: #ffffff;
  color: #73d2f0;
  border-radius: 60px 60px 0 0;
  transition: transform .3s ease-out;
}

@media only screen and (max-width: 750px) {
  .filter {
    font-size: 16px;
  }
}

@media only screen and (max-width: 650px) {
  .filter {
    text-align: center;
  }

  .filter:first-child {
    padding-right: 0;
    text-align: center;
  }

  .filter:nth-child(2) {
    padding-left: 0;
  }
}